img{
    display:block;
    max-width:100%;
    height:auto;
  }
.header{
    text-align: center;
    background-color:rgb(132, 164, 164);
    font-family:Tahoma;
    color: rgb(37, 32, 32);
    margin-top:0;
    margin-bottom:5px;
    margin-left:auto;
    margin-right:auto;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 80%;
    height: auto;
    
}
.header h1{
    font-weight: 800;
}
.header p{
    font-style: italic;
}
img{
    margin:auto;
    display: flex;
    width: 80%;
}
body{
    background-color: rgb(243, 226, 236);
}
.img-caption{
    font-family: sans-serif;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top:0;
    padding-top: 0;
    color:rgb(37, 32, 32);
}
.tribute-info{
   margin: auto;
   width: 60%;
   padding: 10px; 
}
h2{
   text-align: center;
   font-family:  Tahoma;
   color: rgb(37, 32, 32);
   padding-top:20px;
}
.li{
    font-family: sans-serif;
    padding-bottom:1px ;
    row-gap: flex;
    padding-top: 10px;
    color:rgb(72, 63, 63);
}
.msg{
    font-family: sans-serif;
    padding-bottom:5px ;
    row-gap: flex;
    padding-top: 5px;
    color: rgb(72, 63, 63);
    margin:auto;
    width: 60%;
    font-style: italic;
}
.know{
    font-weight: 800;
    text-align: center;
    padding:50px;
    font-family: Tahoma;
    color: rgb(37, 32, 32);
}
a{
    font-weight: 500;
    color: rgb(132, 164, 164);
}
a:hover{
    color:black;
}